.menu-bar {
    -fx-padding: 0;
    -fx-border-style: solid;
    -fx-border-color: #D3D3D3;
    -fx-border-width: 0 0 1 0;
}

.vbox-container {
    -fx-padding: 20;
}

.root-container, .menu-bar, .vbox-container, .bg-1, .bg-2, .bg-3, .bg-4, .bg-5, .dialog-pane {
    -fx-background-color: white;
}

.dialog-pane {
    -fx-padding: 10 10 5 20;
}

.about-view-hbox {
    -fx-padding: 0 0 20 0;
}

/**
 * Listview
 */
/* The selected item in the listview is always highlighted */
.list-view {
    -fx-selection-bar-non-focused: -fx-selection-bar;
}
/* The odd list cell background colour */
.list-view .list-cell:odd {
    -fx-background-color: derive(-fx-control-inner-background,-7%);
}

.list-view:focused .list-cell:focused {
    -fx-background-color: -fx-control-inner-background;
}

.list-view:focused .list-cell:focused:odd {
    -fx-background-color: derive(-fx-control-inner-background,-7%);
}

/* When the list-cell is selected and focused */
.list-view .list-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: -fx-cell-hover-color;
    -fx-text-fill: -fx-text-inner-color;
}

/**
 * Scrollbar
 */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}


.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 12.0 0.0;

}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 12.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover,
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: derive(#4D4C4F, 10.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}