.menu-bar {
    -fx-padding: 0;
    -fx-border-style: solid;
    -fx-border-color: #D3D3D3;
    -fx-border-width: 0 0 1 0;
}

.vbox-container {
    -fx-padding: 20;
}

.root-container, .menu-bar, .vbox-container, .bg-1, .bg-2, .bg-3, .bg-4, .bg-5, .dialog-pane {
    -fx-background-color: white;
}

.dialog-pane {
    -fx-padding: 10 10 5 20;
}

/* The selected item in the listview is always highlighted */
.list-view {
    -fx-selection-bar-non-focused: -fx-selection-bar;
}